body {
    background: #24aecd;
  }
  
  .monster {
    width: 190px;
    height: 240px;
    margin: 2% auto;
    background: url('https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/blog/monster.png') ;
    animation: play .8s steps(10) infinite;
  }
  .box{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: calc(767px/4);
      height: 189px;
      background: url('https://cdn-learn.adafruit.com/assets/assets/000/075/264/medium800/gaming_DinoSprites_idle.png?1556918801');
      background-color: blueviolet;
      animation:animate 1s steps(4) infinite;
  }
  .hero{
    
   
    transform: translate(-50%,-50%);
    width: calc(595/7);
    height: calc(434/4);
    background: url('hero.jpg');
    background-color: blueviolet;
    animation:hero 1s steps(7) infinite;
}
  @keyframes play {
      100% { background-position: -1900px; }
  }
  @keyframes animate {
    from{
        background-position: 0;

    }
    to{
        background-position: 767px;
    }
}
@keyframes hero {
    from{
        background-position: 0;

    }
    to{
        background-position: 595;
    }
}